@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet');

* 
{
  padding:0px;
  margin:0px;
}

body,html {
  box-sizing:border-box;
}

.at-list, .pl-list, .m-list{
  list-style-type: none;
}