@media (max-width:640px){
  .s-header {
  width:100%;
  min-width:320px;
  padding-top:10.4%;
  padding-bottom:26.3%;
  box-sizing:border-box;
  background-image: linear-gradient(to right, rgba(22, 16, 52, 0.9), rgba(22, 16, 52, 0.9)), url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  background-size:cover;
  background-position:center;
 }
  
.logo {
  background-image: url(../images/surface_logo_text.svg);
  background-repeat:no-repeat;
  background-position:center;
  display:block;
  height:36px;
  width:133px;
  margin-left:auto;
  margin-right:auto;
  }

  .h-title {
   margin-left:auto;
   margin-right:auto;
   width:320px;
  }
  
.tagline1 {
  display:block;
  color:#ffffff;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size:29px;
  font-weight: 700;
  margin-top:39.7%;
  padding-left:5.5%;
  letter-spacing: 0.03em;
}

.tagline2 {
  display:block;
  color:#ffffff;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin-top:4%;
  padding-left:15.2%;
  letter-spacing: 0.035em;
  word-spacing: 0.1em;
  line-height: 1.25em;
  }

  
.d-appstore {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 7px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:25.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzAg%0D%0AMTcwIj4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUwLjM3IDEzMC4yNWMtMi40NSA1LjY2%0D%0ALTUuMzUgMTAuODctOC43MSAxNS42Ni00LjU4IDYuNTMtOC4zMyAxMS4wNS0xMS4yMiAxMy41Ni00%0D%0ALjQ4IDQuMTItOS4yOCA2LjIzLTE0LjQyIDYuMzUtMy42OSAwLTguMTQtMS4wNS0xMy4zMi0zLjE4%0D%0ALTUuMTk3LTIuMTItOS45NzMtMy4xNy0xNC4zNC0zLjE3LTQuNTggMC05LjQ5MiAxLjA1LTE0Ljc0%0D%0ANiAzLjE3LTUuMjYyIDIuMTMtOS41IDMuMjQtMTIuNzQyIDMuMzUtNC45My4yMS05Ljg0Mi0xLjk2%0D%0ALTE0Ljc0Ni02LjUyLTMuMTMtMi43My03LjA0NS03LjQxLTExLjczNS0xNC4wNC01LjAzLTcuMDgt%0D%0AOS4xNjgtMTUuMjktMTIuNDEtMjQuNjUtMy40Ny0xMC4xMS01LjIxLTE5LjktNS4yMS0yOS4zNzgg%0D%0AMC0xMC44NTcgMi4zNDYtMjAuMjIgNy4wNDUtMjguMDY4QzI3LjUwOCA1Ny4wMyAzMi40MiA1Mi4w%0D%0ANiAzOC41NyA0OC40MXMxMi43OTMtNS41MSAxOS45NDgtNS42M2MzLjkxNSAwIDkuMDUgMS4yMSAx%0D%0ANS40MyAzLjU5IDYuMzYgMi4zOSAxMC40NDYgMy42IDEyLjIzNyAzLjYgMS4zNCAwIDUuODc3LTEu%0D%0ANDE2IDEzLjU3LTQuMjQgNy4yNzUtMi42MTcgMTMuNDE1LTMuNyAxOC40NDUtMy4yNzQgMTMuNjMg%0D%0AMS4xIDIzLjg3IDYuNDczIDMwLjY4IDE2LjE1My0xMi4xOSA3LjM4NS0xOC4yMiAxNy43My0xOC4x%0D%0AIDMxIC4xMSAxMC4zMzggMy44NiAxOC45NCAxMS4yMyAyNS43NyAzLjM0IDMuMTcgNy4wNyA1LjYy%0D%0AIDExLjIyIDcuMzYtLjkgMi42MS0xLjg1IDUuMTEtMi44NiA3LjUxek0xMTkuMTEgNy4yNGMwIDgu%0D%0AMTAyLTIuOTYgMTUuNjY3LTguODYgMjIuNjctNy4xMiA4LjMyMy0xNS43MzIgMTMuMTMzLTI1LjA3%0D%0AIDEyLjM3NC0uMTItLjk3Mi0uMTktMS45OTUtLjE5LTMuMDcgMC03Ljc3OCAzLjM4Ny0xNi4xMDIg%0D%0AOS40LTIyLjkwOCAzLjAwMi0zLjQ0NiA2LjgyLTYuMzEgMTEuNDUtOC41OTcgNC42Mi0yLjI1MyA4%0D%0ALjk5LTMuNDk4IDEzLjEtMy43MS4xMiAxLjA4Mi4xNyAyLjE2NS4xNyAzLjI0eiIvPgo8L3N2Zz4K");
  background-repeat:no-repeat;
  background-position:31%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

.d-google {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 7px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:4.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDUu%0D%0ANDk5IDUwNS40OTkiPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik00NzEuNDk3IDIzNC40NjZs%0D%0ALTkyLjA4Mi01My4xMzUtNzUuNzMzIDczLjIwOCA2OS4yMTUgNjYuOTA3IDk4LjYtNTYuOTFjNS40%0D%0AMy0zLjEzMyA4LjY3Ny04Ljc1NiA4LjY3Ny0xNS4wMyAwLTYuMjc1LTMuMjQ1LTExLjg5OC04LjY3%0D%0ANy0xNS4wNHpNMzYzLjc4NSAxNzIuM2wtMTAxLjMzMi01OC40OTdMNDAuMzc1IDBsMjUwLjgyOCAy%0D%0ANDIuNDdNNDQuMDYzIDUwNS41bDIxOC43Ny0xMjAuNTEyIDk0LjQzNS01NC41MTUtNjYuMDY1LTYz%0D%0ALjg3TTI1LjU2IDkuODE1bC0uMjM2IDQ4OS42N0wyNzguNzIgMjU0LjUzNCIvPgo8L3N2Zz4=");
  background-repeat:no-repeat;
  background-position:32%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

 .AppS, .GPl {
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    font-weight: 700;
  }
  
.chapter-at {
  width:100%;
  }

.title-chapter-at {
  width:100%;
  font-family: 'Open Sans', sans-serif;
  color:#e7e7e7;
  font-size: 50px;
  font-weight: 700;
  line-height: 66.078px;
  text-transform:uppercase;
  margin-top:3%;
  margin-left:7%;
  box-sizing:border-box;
  padding-bottom: 240px;
}
  
.pic-chapter-at {
  position: relative;
  margin-top: -234px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 11px;
}

.at1 {
  background-color:#fafafa;
  width: 100%;
  box-sizing:border-box;
  padding-top:22px;
  padding-bottom: 53px;
  }

 .at1-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 24px;
  letter-spacing:0.05em;
}

.at1:before{
  content: "01";
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 4px solid #5e42b0;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.3%;
  }

.at1-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6%;
  margin-top:5.4%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.at2 {
  background-color:#f5f4f9;
  width: 100%;
  box-sizing:border-box;
  padding-top:55px;
  padding-bottom: 52px;
}

.at2-h{
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.at2:before{
  content: "02";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.3%;
  }

.at2-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6%;
  margin-top:5.6%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.at3 {
  background-color:#5e42b0;
  width: 100%;
  box-sizing:border-box;
  padding-top:55px;
  padding-bottom: 55px;
  }

.at3-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.at3:before{
  content: "03";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #efefef;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.3%;
  }

.at3-p {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6%;
  margin-top:5.3%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.chapter-pl {
  width:100%;
  min-width:320px;
  }

.title-chapter-pl {
  width:100%;
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  color:#e7e7e7;
  font-size: 50px;
  font-weight: 700;
  line-height: 66.078px;
  text-transform:uppercase;
  margin-top:1.4%;
  margin-left:4.8%;
  box-sizing:border-box;
  padding-bottom: 239px;
}

.pic-chapter-pl {
  position: relative;
  margin-top: -229px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pl1 {
  background-color:#fafafa;
  width: 100%;
  box-sizing:border-box;
  padding-top: 52px;
  padding-bottom: 54px;
}

.pl1-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.pl1:before{
  content: "01";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.3%;
}

.pl1-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6.3%;
  margin-right:6%;
  margin-top:5.9%;
  text-align: left;
  letter-spacing:0.05em;
}

.pl2 {
  background-color:#f5f4f9;
  width: 100%;
  box-sizing:border-box;
  padding-top: 54px;
  padding-bottom: 54px;
 }

.pl2-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.pl2:before{
  content: "02";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.4%;
}

.pl2-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6.3%;
  margin-top:5.8%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.pl3 {
  background-color:#090c35;
  width: 100%;
  box-sizing:border-box;
  padding-top:52px;
  padding-bottom: 55px;
 }

.pl3-h {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.pl3:before{
  content: "03";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #fff;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#9173e6;
  margin-left: 6.3%;
}

.pl3-p {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  padding-left:6.4%;
  padding-top:5.5%;
  padding-right:3.3%;
  text-align: left;
  letter-spacing:0.05em;
}

.m1 {
  background-color:#fff;
  width: 100%;
  min-width:320px;
  box-sizing: border-box;
}

.pic-m1{
  width:100%;
  min-height:351px;
}

.pic1 {
  width:100%;
}

 .inf-m1 {
   width:100%;
   min-width:320px;
   padding-bottom: 77px;
  }
  
.inf-m1-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 28px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 11px;
  margin-left: 5.8%;
  letter-spacing:0.05em;
}

.inf-m1-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top:13px;
  margin-left:6%;
  margin-right:11.4%;
  letter-spacing:0.05em;
}

.inf-m1:before{
  content: "01";
  display:flex;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 700;
  height:70px;
  width:70px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 6.3%;
  margin-top: -61px;
  padding-top: 21px;
  padding-left: 27px;
  box-sizing: border-box;
  text-decoration:underline;
}

.m2 {
  background-color:#fff;
  width: 100%;
  min-width:320px;
  box-sizing: border-box;
}

.pic-m2{
  width:100%;
  min-height:351px;
}

.pic2 {
  width:100%;
}

.inf-m2 {
  width:100%;
  min-width:320px;
  padding-bottom: 79px;
  }
  
.inf-m2-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 28px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 15px;
  margin-left: 6%;
  letter-spacing:0.05em;
}

.inf-m2-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 13px;
  padding-left:6%;
  padding-right:6%;
  letter-spacing:0.05em;
}

.inf-m2:before{
  content: "02";
  display:flex;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 700;
  height:70px;
  width:70px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 6.1%;
  margin-top: -63px;
  padding-top: 22px;
  padding-left: 28px;
  box-sizing: border-box;
  text-decoration:underline;
}

.m3 {
  background-color:#fff;
  width: 100%;
  min-width:320px;
  box-sizing: border-box;
}

.pic-m3{
  width:100%;
  min-height:351px;
}

.pic3 {
  width:100%;
}

.inf-m3 {
  width:100%;
  min-width:320px;
  padding-bottom: 67px;
  }
  
.inf-m3-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 28px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 15px;
  margin-left: 6.4%;
  letter-spacing:0.05em;
}

.inf-m3-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 14px;
  padding-left:6.2%;
  padding-right:6%;
  letter-spacing:0.05em;
}

.inf-m3:before{
  content: "03";
  display:flex;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 700;
  height:70px;
  width:70px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 6.3%;
  margin-top: -63px;
  padding-top: 22px;
  padding-left: 27px;
  box-sizing: border-box;
  text-decoration:underline;
}

.s-footer {
  width:100%;
  min-width:320px;
  padding-top:30.9%;
  padding-bottom:2.7%;
  background-image: linear-gradient(to right, rgba(22, 16, 52, 0.9), rgba(22, 16, 52, 0.9)), url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
  box-sizing:border-box;
  background-position: right;
  background-size: cover;
}

.logo-i-f {
  display:block;
  width:50px;
  height:52px;
  background-color:#6e4ecb;
  border:11px solid #6e4ecb;
  border-radius:16px;
  margin-left:auto;
  margin-right:auto;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjg4IDI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAv%0D%0Ac3ZnIj4KICA8ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPHBhdGgg%0D%0AZD0iTTExNS41IDM2Ljg0OHYxOTAuMzA0TDI1My4wMyAxMzIgMTE1LjUgMzYuODQ4ek0yODIuMTEy%0D%0AIDE0Mi4yOGwtMTcyIDExOWMtOC4yOSA1LjczNi0xOS42MTItLjE5OC0xOS42MTItMTAuMjhWMTNj%0D%0AMC0xMC4wODIgMTEuMzIxLTE2LjAxNiAxOS42MTItMTAuMjhsMTcyIDExOWM3LjE4NCA0Ljk3IDcu%0D%0AMTg0IDE1LjU5IDAgMjAuNTZ6IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz4KICAgIDxwYXRoIGQ9Ik00%0D%0AMi41IDEwN2gxMDdhOCA4IDAgMSAwIDAtMTZoLTEwN2E4IDggMCAxIDAgMCAxNnptMCA3MGgxMDdh%0D%0AOCA4IDAgMSAwIDAtMTZoLTEwN2E4IDggMCAxIDAgMCAxNnpNOCAxNDNoMTY4YTggOCAwIDEgMCAw%0D%0ALTE2SDhhOCA4IDAgMSAwIDAgMTZ6IiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZS1saW5lY2Fw%0D%0APSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgogIDwvZz4KPC9zdmc+");
  background-repeat:no-repeat;
  background-position:center;
}

.f-download {
  margin-left:auto;
  margin-right:auto;
  width:320px;
  }
  
  .f-title {
  width: 320px;
  margin-top: 14.7%;
  }
  
.f-title-1 {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-size: 32px;
  font-weight:700;
  text-align: center;
  text-transform:uppercase;
  letter-spacing:0.05em;
}

.f-title-2 {
  font-family: 'Open Sans', sans-serif;
  color:#9b8ec1;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform:uppercase;
  letter-spacing:0.05em;
  padding-left: 23px;
}

.buttons-f {
  margin-left:auto;
  margin-right:auto;
  width:280px;
  }  
  
.d-f-appstore {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 7px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:26%;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzAg%0D%0AMTcwIj4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUwLjM3IDEzMC4yNWMtMi40NSA1LjY2%0D%0ALTUuMzUgMTAuODctOC43MSAxNS42Ni00LjU4IDYuNTMtOC4zMyAxMS4wNS0xMS4yMiAxMy41Ni00%0D%0ALjQ4IDQuMTItOS4yOCA2LjIzLTE0LjQyIDYuMzUtMy42OSAwLTguMTQtMS4wNS0xMy4zMi0zLjE4%0D%0ALTUuMTk3LTIuMTItOS45NzMtMy4xNy0xNC4zNC0zLjE3LTQuNTggMC05LjQ5MiAxLjA1LTE0Ljc0%0D%0ANiAzLjE3LTUuMjYyIDIuMTMtOS41IDMuMjQtMTIuNzQyIDMuMzUtNC45My4yMS05Ljg0Mi0xLjk2%0D%0ALTE0Ljc0Ni02LjUyLTMuMTMtMi43My03LjA0NS03LjQxLTExLjczNS0xNC4wNC01LjAzLTcuMDgt%0D%0AOS4xNjgtMTUuMjktMTIuNDEtMjQuNjUtMy40Ny0xMC4xMS01LjIxLTE5LjktNS4yMS0yOS4zNzgg%0D%0AMC0xMC44NTcgMi4zNDYtMjAuMjIgNy4wNDUtMjguMDY4QzI3LjUwOCA1Ny4wMyAzMi40MiA1Mi4w%0D%0ANiAzOC41NyA0OC40MXMxMi43OTMtNS41MSAxOS45NDgtNS42M2MzLjkxNSAwIDkuMDUgMS4yMSAx%0D%0ANS40MyAzLjU5IDYuMzYgMi4zOSAxMC40NDYgMy42IDEyLjIzNyAzLjYgMS4zNCAwIDUuODc3LTEu%0D%0ANDE2IDEzLjU3LTQuMjQgNy4yNzUtMi42MTcgMTMuNDE1LTMuNyAxOC40NDUtMy4yNzQgMTMuNjMg%0D%0AMS4xIDIzLjg3IDYuNDczIDMwLjY4IDE2LjE1My0xMi4xOSA3LjM4NS0xOC4yMiAxNy43My0xOC4x%0D%0AIDMxIC4xMSAxMC4zMzggMy44NiAxOC45NCAxMS4yMyAyNS43NyAzLjM0IDMuMTcgNy4wNyA1LjYy%0D%0AIDExLjIyIDcuMzYtLjkgMi42MS0xLjg1IDUuMTEtMi44NiA3LjUxek0xMTkuMTEgNy4yNGMwIDgu%0D%0AMTAyLTIuOTYgMTUuNjY3LTguODYgMjIuNjctNy4xMiA4LjMyMy0xNS43MzIgMTMuMTMzLTI1LjA3%0D%0AIDEyLjM3NC0uMTItLjk3Mi0uMTktMS45OTUtLjE5LTMuMDcgMC03Ljc3OCAzLjM4Ny0xNi4xMDIg%0D%0AOS40LTIyLjkwOCAzLjAwMi0zLjQ0NiA2LjgyLTYuMzEgMTEuNDUtOC41OTcgNC42Mi0yLjI1MyA4%0D%0ALjk5LTMuNDk4IDEzLjEtMy43MS4xMiAxLjA4Mi4xNyAyLjE2NS4xNyAzLjI0eiIvPgo8L3N2Zz4K");
  background-repeat:no-repeat;
  background-position:32%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

.d-f-google {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 6px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:5.4%;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDUu%0D%0ANDk5IDUwNS40OTkiPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik00NzEuNDk3IDIzNC40NjZs%0D%0ALTkyLjA4Mi01My4xMzUtNzUuNzMzIDczLjIwOCA2OS4yMTUgNjYuOTA3IDk4LjYtNTYuOTFjNS40%0D%0AMy0zLjEzMyA4LjY3Ny04Ljc1NiA4LjY3Ny0xNS4wMyAwLTYuMjc1LTMuMjQ1LTExLjg5OC04LjY3%0D%0ANy0xNS4wNHpNMzYzLjc4NSAxNzIuM2wtMTAxLjMzMi01OC40OTdMNDAuMzc1IDBsMjUwLjgyOCAy%0D%0ANDIuNDdNNDQuMDYzIDUwNS41bDIxOC43Ny0xMjAuNTEyIDk0LjQzNS01NC41MTUtNjYuMDY1LTYz%0D%0ALjg3TTI1LjU2IDkuODE1bC0uMjM2IDQ4OS42N0wyNzguNzIgMjU0LjUzNCIvPgo8L3N2Zz4=");
  background-repeat:no-repeat;
  background-position:31.6%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

.logo-f {
  display:block;
  height:36px;
  width:133px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTcyIDI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAv%0D%0Ac3ZnIj4KICA8ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPGcgZmls%0D%0AbC1ydWxlPSJub256ZXJvIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0i%0D%0Acm91bmQiPgogICAgICA8cGF0aCBkPSJNMTE1LjUgMzYuODQ4djE5MC4zMDRMMjUzLjAzIDEzMiAx%0D%0AMTUuNSAzNi44NDh6TTI4Mi4xMTIgMTQyLjI4bC0xNzIgMTE5Yy04LjI5IDUuNzM2LTE5LjYxMi0u%0D%0AMTk4LTE5LjYxMi0xMC4yOFYxM2MwLTEwLjA4MiAxMS4zMjEtMTYuMDE2IDE5LjYxMi0xMC4yOGwx%0D%0ANzIgMTE5YzcuMTg0IDQuOTcgNy4xODQgMTUuNTkgMCAyMC41NnoiLz4KICAgICAgPHBhdGggZD0i%0D%0ATTQyLjUgMTA3aDEwN2E4IDggMCAxIDAgMC0xNmgtMTA3YTggOCAwIDEgMCAwIDE2em0wIDcwaDEw%0D%0AN2E4IDggMCAxIDAgMC0xNmgtMTA3YTggOCAwIDEgMCAwIDE2ek04IDE0M2gxNjhhOCA4IDAgMSAw%0D%0AIDAtMTZIOGE4IDggMCAxIDAgMCAxNnoiLz4KICAgIDwvZz4KICAgIDxwYXRoIGQ9Ik0zNTYuNTA1%0D%0AIDE4NC4zNjJjLTcuNjMgMC0xNC4zMzUtLjc3Mi0yMC4xMTctMi4zMTYtNS43ODItMS41NDQtMTAu%0D%0AMjAyLTMuNDM2LTEzLjI2LTUuNjc2LTMuMDU3LTIuMjQtNC41ODYtNC4zNi00LjU4Ni02LjM1NyAw%0D%0ALTEuNTc1LjU5LTMuNTEyIDEuNzctNS44MTMgMS4xODItMi4zIDIuNTktNC4yODMgNC4yMjQtNS45%0D%0ANSAxLjYzNS0xLjY2NCAyLjk5Ny0yLjQ5NiA0LjA4Ny0yLjQ5Ni42NjYgMCAyLjA5LjU3NSA0LjI3%0D%0AIDEuNzI1IDMuMjY4IDEuNjk1IDYuMzcgMy4wNTcgOS4zMDggNC4wODYgMi45MzcgMS4wMyA2LjMx%0D%0AMyAxLjU0NCAxMC4xMjcgMS41NDQgNC4yMzggMCA3LjgyNi0uODMyIDEwLjc2Mi0yLjQ5NyAyLjkz%0D%0ANi0xLjY2NSA0LjQwNC00LjU4NyA0LjQwNC04Ljc2NCAwLTIuNDIzLS43NTctNC41MTItMi4yNy02%0D%0ALjI2OC0xLjUxNC0xLjc1Ni0zLjQ1Mi0zLjI0LTUuODEzLTQuNDUtMi4zNi0xLjIxLTUuNTctMi42%0D%0AMzQtOS42MjYtNC4yN2wtNy4xNzUtMy4wODdjLTQuMzYtMi4xMi04LjEtNC40NS0xMS4yMTctNi45%0D%0AOTMtMy4xMTgtMi41NDMtNS42Ni01LjkwMy03LjYzLTEwLjA4LTEuOTY3LTQuMTgtMi45NS05LjI5%0D%0ANS0yLjk1LTE1LjM1IDAtNy4zODYgMS44MTYtMTMuNTMyIDUuNDUtMTguNDM2IDMuNjMyLTQuOTA0%0D%0AIDguMzU0LTguNTA3IDE0LjE2Ny0xMC44MDggNS44MTItMi4zIDEyLjA0OC0zLjQ1IDE4LjcxLTMu%0D%0ANDUgNS40NDggMCAxMC4zODIuNTYgMTQuODAyIDEuNjggNC40MiAxLjEyIDcuODg3IDIuNTU3IDEw%0D%0ALjQgNC4zMTMgMi41MTIgMS43NTcgMy43NjggMy41MTMgMy43NjggNS4yNyAwIDEuNDUyLS40NyAz%0D%0ALjMxNC0xLjQwNyA1LjU4NC0uOTQgMi4yNy0yLjEwNCA0LjI1NC0zLjQ5NyA1Ljk1LTEuMzkzIDEu%0D%0ANjk0LTIuNjk0IDIuNTQyLTMuOTA1IDIuNTQyLS41NDQgMC0xLjUxMy0uMzAzLTIuOTA1LS45MDhh%0D%0ANTEuOTM5IDUxLjkzOSAwIDAgMC02Ljc2Ny0yLjIyNWMtMi4yNy0uNTc1LTUuMDQtLjg2My04LjMx%0D%0ALS44NjMtNS42MyAwLTkuNTM2Ljg5My0xMS43MTUgMi42OC0yLjE4IDEuNzg1LTMuMjcgMy44OS0z%0D%0ALjI3IDYuMzEgMCAyLjc4Ni43NDIgNS4xMTcgMi4yMjUgNi45OTQgMS40ODQgMS44NzcgMy4zNiAz%0D%0ALjQyIDUuNjMgNC42MzIgMi4yNyAxLjIxIDUuNDM1IDIuNjA0IDkuNDkyIDQuMTc4IDYuMTE1IDIu%0D%0ANjAzIDExLjExIDUuMDcgMTQuOTg1IDcuNDAyIDMuODc1IDIuMzMgNy4yMiA1LjY3NiAxMC4wMzYg%0D%0AMTAuMDM1IDIuODE2IDQuMzYgNC4yMjQgOS45MyA0LjIyNCAxNi43MTIgMCA4LjI5NS0xLjc0IDE1%0D%0ALjA5Mi01LjIyMiAyMC4zOS0zLjQ4MiA1LjI5Ny03Ljk2MiA5LjEyNy0xMy40NDIgMTEuNDg4LTUu%0D%0ANDggMi4zNjItMTEuMzk4IDMuNTQyLTE3Ljc1NSAzLjU0MmgtLjAwMnptOTYuNzI0IDBjLTkuODEg%0D%0AMC0xOC4yMS0xLjU0NC0yNS4yMDQtNC42MzItNi45OTMtMy4wODctMTIuMzM3LTcuNTUzLTE2LjAz%0D%0ALTEzLjM5Ni0zLjY5My01Ljg0Mi01LjU0LTEyLjg4LTUuNTQtMjEuMTE1Vjc0LjgzMmMwLTEuNzU2%0D%0ALjc4Ny0zLjA3MyAyLjM2LTMuOTUgMS41NzYtLjg4IDQuMDI4LTEuMzE4IDcuMzU4LTEuMzE4aDUu%0D%0ANDVjMy4zMyAwIDUuNzY2LjQ0IDcuMzEgMS4zMTcgMS41NDQuODc4IDIuMzE2IDIuMTk1IDIuMzE2%0D%0AIDMuOTV2NjguNzUyYzAgMy43NTQuOTIzIDcuMTE0IDIuNzcgMTAuMDggMS44NDcgMi45NjggNC40%0D%0AMzUgNS4yODQgNy43NjUgNi45NSAzLjMzIDEuNjY0IDcuMTQ1IDIuNDk2IDExLjQ0NCAyLjQ5NiA0%0D%0ALjI5NyAwIDguMTI3LS44MzIgMTEuNDg3LTIuNDk3IDMuMzYtMS42NjUgNS45OC0zLjk4IDcuODU2%0D%0ALTYuOTQ4IDEuODc3LTIuOTY3IDIuODE2LTYuMzI3IDIuODE2LTEwLjA4Vjc0LjgzMmMwLTEuNzU2%0D%0ALjc3LTMuMDczIDIuMzE1LTMuOTUgMS41NDQtLjg4IDMuOTgtMS4zMTggNy4zMS0xLjMxOGg1LjM2%0D%0AYzMuMzMgMCA1Ljc2Ni40NCA3LjMxIDEuMzE3IDEuNTQ0Ljg3OCAyLjMxNiAyLjE5NSAyLjMxNiAz%0D%0ALjk1djcwLjM4N2MwIDguMjMzLTEuODQ2IDE1LjI3Mi01LjU0IDIxLjExNC0zLjY5MiA1Ljg0My05%0D%0ALjAzNiAxMC4zMS0xNi4wMyAxMy4zOTYtNi45OTIgMy4wODgtMTUuMzkzIDQuNjMyLTI1LjIgNC42%0D%0AMzJsLjAwMS4wMDJ6bTc4LjM3Ni0xLjA5Yy02LjQ3OCAwLTkuNzE3LTEuNjk1LTkuNzE3LTUuMDg1%0D%0AVjc2LjM3N2MwLTIuMjQuNTEzLTMuODYgMS41NDMtNC44NiAxLjAzLS45OTggMi42NjQtMS40OTcg%0D%0ANC45MDQtMS40OTdoMzEuNTE1YzI2Ljc2IDAgNDAuMTQyIDEwLjA4IDQwLjE0MiAzMC4yNDMgMCA2%0D%0ALjExNS0xLjcxIDExLjM4Mi01LjEzIDE1LjgwMi0zLjQyMiA0LjQyLTguMDEgNy43Mi0xMy43NiA5%0D%0ALjl2LjYzNmMxLjk5OC44NDggNC4xMDIgMi42NjUgNi4zMTIgNS40NXMzLjk4IDUuOTMzIDUuMzEz%0D%0AIDkuNDQ1bDE0LjI1NyAzNS41MWMuNDg1IDEuNDU0LjcyNyAyLjQ4My43MjcgMy4wOSAwIDIuMTE4%0D%0ALTMuMjEgMy4xNzctOS42MjcgMy4xNzdoLTYuNjNjLTUuMzkgMC04LjUwNy0xLjEyLTkuMzU0LTMu%0D%0AMzZsLTEyLjgwNi0zMS41MTVjLTEuMjEtMi40Mi0yLjM3Ny00LjI5OC0zLjQ5Ny01LjYzLTEuMTIt%0D%0AMS4zMzItMi42OC0yLjM0Ny00LjY3Ny0zLjA0My0xLjk5OC0uNjk2LTQuNjkyLTEuMDQ0LTguMDgz%0D%0ALTEuMDQ0aC02LjI2N3YzOS41MDdjMCAzLjM5LTMuMjQgNS4wODUtOS43MTcgNS4wODVoLTUuNDVs%0D%0ALjAwMi0uMDAxem0zMC40MjUtNjYuMDI2YzIuMTggMCA0LjI0LS42MiA2LjE3Ny0xLjg2MiAxLjkz%0D%0AOC0xLjI0IDMuNDgtMi45MiA0LjYzMi01LjA0IDEuMTUtMi4xMiAxLjcyNC00LjQ1IDEuNzI0LTYu%0D%0AOTkzIDAtMy43NTMtMS4yMjYtNi43MzUtMy42NzgtOC45NDVzLTUuNzY3LTMuMzE1LTkuOTQ1LTMu%0D%0AMzE1aC0xNC4xNjd2MjYuMTU2aDE1LjI1OGwtLjAwMS0uMDAxem02OC4xMTYgNjYuMDI2Yy02LjQ3%0D%0AOCAwLTkuNzE3LTEuNjk1LTkuNzE3LTUuMDg1Vjc2LjM3N2MwLTIuMjQuNTEzLTMuODYgMS41NDMt%0D%0ANC44NiAxLjAzLS45OTggMi42NjQtMS40OTcgNC45MDQtMS40OTdoNTMuOTQ3YzEuNjk2IDAgMi45%0D%0AMjIuNjM1IDMuNjc4IDEuOTA3Ljc1NyAxLjI3IDEuMTM2IDMuMzMgMS4xMzYgNi4xNzZ2NC45MDRj%0D%0AMCAyLjg0Ni0uMzggNC45MDQtMS4xMzYgNi4xNzYtLjc1NiAxLjI3LTEuOTgyIDEuOTA3LTMuNjc4%0D%0AIDEuOTA3aC0zNS41MXYyMy42MTNoMzQuMzNjMS42OTUgMCAyLjkzNi42MzYgMy43MjMgMS45MDcu%0D%0ANzg3IDEuMjcyIDEuMTggMy4zIDEuMTggNi4wODV2NC45OTVjMCAyLjg0Ni0uMzkzIDQuOTItMS4x%0D%0AOCA2LjIyMi0uNzg3IDEuMy0yLjAyOCAxLjk1Mi0zLjcyMyAxLjk1MmgtMzQuMzN2NDIuMzIzYzAg%0D%0AMy4zOS0zLjI0IDUuMDg1LTkuNzE4IDUuMDg1aC01LjQ1LjAwMXptNzAuMjA1IDBjLTYuNiAwLTku%0D%0AOS0xLjE4LTkuOS0zLjU0MiAwLS42NjYuMjEzLTEuNjM0LjYzNy0yLjkwNmwzNS42LTEwMy44MDdj%0D%0ALjg1LTIuMyAzLjkwNy0zLjQ1MiA5LjE3NC0zLjQ1Mmg4LjM1N2M1LjI2NyAwIDguMzI1IDEuMTUg%0D%0AOS4xNzMgMy40NTJsMzUuNiAxMDMuODA3Yy4zMDQgMS4yMS40NTUgMi4xOC40NTUgMi45MDYgMCAx%0D%0ALjIxLS42NSAyLjEwNC0xLjk1MiAyLjY4LTEuMzAyLjU3NS0zLjM0Ni44NjItNi4xMy44NjJoLTcu%0D%0AMDg1Yy0yLjU0MyAwLTQuNTg2LS4yNTctNi4xMy0uNzcyLTEuNTQ0LS41MTQtMi40OTgtMS4zNzct%0D%0AMi44Ni0yLjU4OGwtNi41NC0xOS43MDhoLTM4LjA1NGwtNi41NCAxOS43MDhjLS42NjUgMi4yNC0z%0D%0ALjE0NyAzLjM2LTcuNDQ2IDMuMzZoLTYuMzU5em01MS40OTYtNDQuNDFsLTkuMTczLTI4LjdjLS41%0D%0ANDUtMS40NTMtMS4wMTQtMy4xMTgtMS40MDgtNC45OTVhMTgyLjA4OCAxODIuMDg4IDAgMCAxLTEu%0D%0AMDQ0LTUuMzU4aC0uNjM1bC0uMzYzIDEuOTk3Yy0uNjA2IDMuNTcyLTEuMzAyIDYuMzU3LTIuMDkg%0D%0AOC4zNTVsLTkuNTM1IDI4LjdoMjQuMjVsLS4wMDIuMDAxem05Ny45OTUgNDUuNWMtMTguMTYzIDAt%0D%0AMzEuNTYtNC43MjItNDAuMTg3LTE0LjE2OC04LjYyOC05LjQ0NS0xMi45NDItMjQuMTI3LTEyLjk0%0D%0AMi00NC4wNDggMC0zOC4zMjYgMTcuOTgzLTU3LjQ5IDUzLjk0OC01Ny40OSA0LjkwNSAwIDkuOTku%0D%0ANDg2IDE1LjI1OCAxLjQ1NCA1LjI2OC45NyA5LjY3MiAyLjMxNiAxMy4yMTQgNC4wNDIgMy41NDIg%0D%0AMS43MjUgNS4zMTMgMy42NDggNS4zMTMgNS43NjcgMCAxLjUxMy0uNjA1IDMuNDk2LTEuODE2IDUu%0D%0AOTQ4LTEuMjEgMi40NTItMi42NSA0LjYxNi00LjMxNCA2LjQ5My0xLjY2NSAxLjg3OC0zLjEzMyAy%0D%0ALjgxNy00LjQwNSAyLjgxNy0uMzAzIDAtMS4xMi0uMzAzLTIuNDUyLS45MDhhNjcuMDkyIDY3LjA5%0D%0AMiAwIDAgMC05LjEyNy0zLjA0NGMtMy4xOC0uODE3LTcuMjIyLTEuMjI2LTEyLjEyNi0xLjIyNi05%0D%0ALjUwNiAwLTE2LjU0NCAzLjAxMi0yMS4xMTYgOS4wMzctNC41NyA2LjAyNC02Ljg1NyAxNS4xMi02%0D%0ALjg1NyAyNy4yOXMyLjMwMiAyMS4zNDQgNi45MDQgMjcuNTJjNC42IDYuMTc1IDExLjUwNCA5LjI2%0D%0AMyAyMC43MDcgOS4yNjMgNC43ODQgMCA4Ljk0Ny0uNDg0IDEyLjQ5LTEuNDUzIDMuNTQtLjk3IDcu%0D%0AMDA3LTIuMjEgMTAuMzk4LTMuNzIzLjE4LS4wNi43MjYtLjI4OCAxLjYzNC0uNjgyLjkxLS4zOTMg%0D%0AMS41NzUtLjU5IDEuOTk4LS41OSAxLjU3NSAwIDMuMDg4LjkyMyA0LjU0IDIuNzcgMS40NTQgMS44%0D%0ANDcgMi42MzUgMy45MzYgMy41NDMgNi4yNjcuOTEgMi4zMyAxLjM2MyA0LjAxIDEuMzYzIDUuMDQg%0D%0AMCAyLjk2Ni0xLjk4MyA1LjQ4LTUuOTUgNy41MzctMy45NjUgMi4wNi04Ljc0OCAzLjU4OC0xNC4z%0D%0ANSA0LjU4Ny01LjYgMS0xMC44MiAxLjQ5OC0xNS42NjUgMS40OThsLS4wMDMuMDAyek05MDcuMDYg%0D%0AMTgzYy0yLjI0IDAtMy44NzUtLjUxNS00LjkwNS0xLjU0NC0xLjAzLTEuMDMtMS41NDQtMi42NjQt%0D%0AMS41NDQtNC45MDRWNzYuMzc3YzAtMi4yNC41MTQtMy44NiAxLjU0My00Ljg2IDEuMDMtLjk5OCAy%0D%0ALjY2NC0xLjQ5NyA0LjkwNS0xLjQ5N2g1OS4xMjRjMS42OTUgMCAyLjkyLjYzNSAzLjY3OCAxLjkw%0D%0ANy43NTcgMS4yNyAxLjEzNSAzLjMzIDEuMTM1IDYuMTc2djQuOTA0YzAgMi44NDYtLjM3OCA0Ljkw%0D%0ANC0xLjEzNSA2LjE3Ni0uNzU3IDEuMjctMS45ODMgMS45MDctMy42NzggMS45MDdoLTQwLjY4OHYy%0D%0AMy40M2gzNi4zMjhjMS42OTYgMCAyLjkyMi42MzcgMy42NzggMS45MS43NTcgMS4yNyAxLjEzNiAz%0D%0ALjMzIDEuMTM2IDYuMTc0djQuOTk2YzAgMi44NDUtLjM4IDQuOTA0LTEuMTM2IDYuMTc1LS43NTYg%0D%0AMS4yNzItMS45ODIgMS45MDgtMy42NzggMS45MDhoLTM2LjMyOHYyNi4xNTZoNDAuNzc4YzEuNjk2%0D%0AIDAgMi45MjIuNjM1IDMuNjggMS45MDYuNzU2IDEuMjcyIDEuMTM0IDMuMyAxLjEzNCA2LjA4NXY1%0D%0ALjA4N2MwIDIuODQ2LS4zNzggNC45MDQtMS4xMzUgNi4xNzYtLjc1NiAxLjI3LTEuOTgyIDEuOTA3%0D%0ALTMuNjc4IDEuOTA3SDkwNy4wNnoiIGZpbGwtcnVsZT0ibm9uemVybyIvPgogIDwvZz4KPC9zdmc+");
  background-repeat:no-repeat;
  background-position:center;
  }
  
}
