
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet');

.maket {
  position:absolute;
  top:0;
  opacity: 0;  
}

* 
{
  padding:0px;
  margin:0px;
}

body,html {
  box-sizing:border-box;
  position: relative;
    min-width: 320px;
}

@media only screen and (max-width:640px){
  .s-header {
  width:100%;
  min-width:320px;
  padding-top:10.4%;
  padding-bottom:26.3%;
  box-sizing:border-box;
  background-image: linear-gradient(to right, rgba(22, 16, 52, 0.9), rgba(22, 16, 52, 0.9)), url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  background-size:cover;
  background-position:center;
 }
  
.logo {
  display:block;
  height:36px;
  width:133px;
  margin-left:auto;
  margin-right:auto;
  }

.h-title {
   margin-left:auto;
   margin-right:auto;
   width:320px;
  }
  
.tagline {
  color:#ffffff;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size:29px;
  font-weight: 700;
  margin-top:39.7%;
  padding-left:5.5%;
  letter-spacing: 0.03em;
}

.string {
  display:block;
  color:#ffffff;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin-top:4%;
  padding-left:15.2%;
  letter-spacing: 0.035em;
  word-spacing: 0.1em;
  line-height: 1.25em;
  }

.d-appstore {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 7px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:25.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzAg%0D%0AMTcwIj4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUwLjM3IDEzMC4yNWMtMi40NSA1LjY2%0D%0ALTUuMzUgMTAuODctOC43MSAxNS42Ni00LjU4IDYuNTMtOC4zMyAxMS4wNS0xMS4yMiAxMy41Ni00%0D%0ALjQ4IDQuMTItOS4yOCA2LjIzLTE0LjQyIDYuMzUtMy42OSAwLTguMTQtMS4wNS0xMy4zMi0zLjE4%0D%0ALTUuMTk3LTIuMTItOS45NzMtMy4xNy0xNC4zNC0zLjE3LTQuNTggMC05LjQ5MiAxLjA1LTE0Ljc0%0D%0ANiAzLjE3LTUuMjYyIDIuMTMtOS41IDMuMjQtMTIuNzQyIDMuMzUtNC45My4yMS05Ljg0Mi0xLjk2%0D%0ALTE0Ljc0Ni02LjUyLTMuMTMtMi43My03LjA0NS03LjQxLTExLjczNS0xNC4wNC01LjAzLTcuMDgt%0D%0AOS4xNjgtMTUuMjktMTIuNDEtMjQuNjUtMy40Ny0xMC4xMS01LjIxLTE5LjktNS4yMS0yOS4zNzgg%0D%0AMC0xMC44NTcgMi4zNDYtMjAuMjIgNy4wNDUtMjguMDY4QzI3LjUwOCA1Ny4wMyAzMi40MiA1Mi4w%0D%0ANiAzOC41NyA0OC40MXMxMi43OTMtNS41MSAxOS45NDgtNS42M2MzLjkxNSAwIDkuMDUgMS4yMSAx%0D%0ANS40MyAzLjU5IDYuMzYgMi4zOSAxMC40NDYgMy42IDEyLjIzNyAzLjYgMS4zNCAwIDUuODc3LTEu%0D%0ANDE2IDEzLjU3LTQuMjQgNy4yNzUtMi42MTcgMTMuNDE1LTMuNyAxOC40NDUtMy4yNzQgMTMuNjMg%0D%0AMS4xIDIzLjg3IDYuNDczIDMwLjY4IDE2LjE1My0xMi4xOSA3LjM4NS0xOC4yMiAxNy43My0xOC4x%0D%0AIDMxIC4xMSAxMC4zMzggMy44NiAxOC45NCAxMS4yMyAyNS43NyAzLjM0IDMuMTcgNy4wNyA1LjYy%0D%0AIDExLjIyIDcuMzYtLjkgMi42MS0xLjg1IDUuMTEtMi44NiA3LjUxek0xMTkuMTEgNy4yNGMwIDgu%0D%0AMTAyLTIuOTYgMTUuNjY3LTguODYgMjIuNjctNy4xMiA4LjMyMy0xNS43MzIgMTMuMTMzLTI1LjA3%0D%0AIDEyLjM3NC0uMTItLjk3Mi0uMTktMS45OTUtLjE5LTMuMDcgMC03Ljc3OCAzLjM4Ny0xNi4xMDIg%0D%0AOS40LTIyLjkwOCAzLjAwMi0zLjQ0NiA2LjgyLTYuMzEgMTEuNDUtOC41OTcgNC42Mi0yLjI1MyA4%0D%0ALjk5LTMuNDk4IDEzLjEtMy43MS4xMiAxLjA4Mi4xNyAyLjE2NS4xNyAzLjI0eiIvPgo8L3N2Zz4K");
  background-repeat:no-repeat;
  background-position:31%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

.d-google {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 7px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:4.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDUu%0D%0ANDk5IDUwNS40OTkiPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik00NzEuNDk3IDIzNC40NjZs%0D%0ALTkyLjA4Mi01My4xMzUtNzUuNzMzIDczLjIwOCA2OS4yMTUgNjYuOTA3IDk4LjYtNTYuOTFjNS40%0D%0AMy0zLjEzMyA4LjY3Ny04Ljc1NiA4LjY3Ny0xNS4wMyAwLTYuMjc1LTMuMjQ1LTExLjg5OC04LjY3%0D%0ANy0xNS4wNHpNMzYzLjc4NSAxNzIuM2wtMTAxLjMzMi01OC40OTdMNDAuMzc1IDBsMjUwLjgyOCAy%0D%0ANDIuNDdNNDQuMDYzIDUwNS41bDIxOC43Ny0xMjAuNTEyIDk0LjQzNS01NC41MTUtNjYuMDY1LTYz%0D%0ALjg3TTI1LjU2IDkuODE1bC0uMjM2IDQ4OS42N0wyNzguNzIgMjU0LjUzNCIvPgo8L3N2Zz4=");
  background-repeat:no-repeat;
  background-position:32%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

 .App {
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    font-weight: 700;
  }
  
.chapter-at {
  width:100%;
  }

.title-chapter-at {
  font-family: 'Open Sans', sans-serif;
  color:#e7e7e7;
  font-size: 50px;
  font-weight: 700;
  line-height: 66.078px;
  text-transform:uppercase;
  margin-top:3%;
  margin-left:7%;
  box-sizing:border-box;
  padding-bottom: 240px;
}
  
.pic-chapter-at {
  position: relative;
  margin-top: -234px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 11px;
}

.list-at li:first-child {
  background-color:#fafafa;
  width: 100%;
  box-sizing:border-box;
  padding-top:22px;
  padding-bottom: 53px;
  }

.list-at li:first-child .at-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -26px;
  margin-left: 6.3%;
  padding-left: 24px;
  letter-spacing:0.05em;
}
  
.list-at li:first-child:before{
  content: "01";
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 700;
  color:#000;
  margin-left: 6.3%;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  height:19px;
  margin-left: 6.3%;
  }

.list-at li:first-child .at-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6%;
  margin-top:5.4%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.list-at li:nth-child(2) {
  background-color:#f5f4f9;
  width: 100%;
  box-sizing:border-box;
  padding-top:55px;
  padding-bottom: 52px;
}

.list-at li:nth-child(2) .at-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.list-at li:nth-child(2):before{
  content: "02";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.3%;
  }

.list-at li:nth-child(2) .at-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6%;
  margin-top:5.6%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.list-at li:nth-child(3) {
  background-color:#5e42b0;
  width: 100%;
  box-sizing:border-box;
  padding-top:55px;
  padding-bottom: 55px;
  }

.list-at li:nth-child(3) .at-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.list-at li:nth-child(3):before{
  content: "03";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #efefef;
  border-radius: 2px;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.3%;
  }

.list-at li:nth-child(3) .at-p {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6%;
  margin-top:5.3%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.chapter-pl {
  width:100%;
  min-width:320px;
  }

.title-chapter-pl {
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  color:#e7e7e7;
  font-size: 50px;
  font-weight: 700;
  line-height: 66.078px;
  text-transform:uppercase;
  margin-top:1.4%;
  margin-left:4.8%;
  box-sizing:border-box;
  padding-bottom: 239px;
}

.pic-chapter-pl {
  position: relative;
  margin-top: -229px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.list-pl li:first-child {
  background-color:#fafafa;
  width: 100%;
  box-sizing:border-box;
  padding-top: 52px;
  padding-bottom: 54px;
}

.list-pl li:first-child .pl-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.list-pl li:first-child:before{
  content: "01";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.3%;
}

.list-pl li:first-child .pl-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6.3%;
  margin-right:6%;
  margin-top:5.9%;
  text-align: left;
  letter-spacing:0.05em;
}

.list-pl li:nth-child(2) {
  background-color:#f5f4f9;
  width: 100%;
  box-sizing:border-box;
  padding-top: 54px;
  padding-bottom: 54px;
 }

.list-pl li:nth-child(2) .pl-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.list-pl li:nth-child(2):before{
  content: "02";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#000;
  margin-left: 6.4%;
}

.list-pl li:nth-child(2) .pl-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left:6.3%;
  margin-top:5.8%;
  margin-right:6%;
  text-align: left;
  letter-spacing:0.05em;
}

.list-pl li:nth-child(3) {
  background-color:#090c35;
  width: 100%;
  box-sizing:border-box;
  padding-top:52px;
  padding-bottom: 55px;
 }

.list-pl li:nth-child(3) .pl-h {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 23px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -28px;
  margin-left: 6.3%;
  padding-left: 25px;
  letter-spacing:0.05em;
}

.list-pl li:nth-child(3):before{
  content: "03";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #fff;
  border-radius: 2px;
  font-size:14px;
  font-weight: 700;
  height:19px;
  vertical-align:super;
  color:#9173e6;
  margin-left: 6.3%;
}

.list-pl li:nth-child(3) .pl-p {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  padding-left:6.4%;
  padding-top:5.5%;
  padding-right:3.3%;
  text-align: left;
  letter-spacing:0.05em;
}

.list-m li:first-child {
  background-color:#fff;
  width: 100%;
  min-width:320px;
  box-sizing: border-box;
}

.list-m li:first-child .pic-m {
  width:100%;
  min-height:351px;
}

.list-m li:first-child .pic  {
  width:100%;
}

 .list-m li:first-child .inf-m {
   width:100%;
   min-width:320px;
   padding-bottom: 77px;
  }
  
.list-m li:first-child .inf-m-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 28px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 20px;
  margin-left: 5.8%;
  letter-spacing:0.05em;
}

.list-m li:first-child .inf-m-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top:13px;
  margin-left:6%;
  margin-right:11.4%;
  letter-spacing:0.05em;
}

 .list-m li:first-child .counter {
  display:flex;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 700;
  height:70px;
  width:70px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 0.6%;
  margin-top: -83px;
  padding-top: 21px;
  padding-left: 27px;
  box-sizing: border-box;
  }
  
 .list-m li:first-child .counter:before {
  border: 2px solid #fff;
  position: absolute;
  content: "";
  width: 11px;
  margin-top: 22px;
  border-radius: 1px;
  }
  
.list-m li:nth-child(2) {
  background-color:#fff;
  width: 100%;
  min-width:320px;
  box-sizing: border-box;
}

.list-m li:nth-child(2) .pic-m{
  width:100%;
  min-height:351px;
}

.list-m li:nth-child(2) .pic {
  width:100%;
}

.list-m li:nth-child(2) .inf-m {
  width:100%;
  min-width:320px;
  padding-bottom: 77px;
  }
  
.list-m li:nth-child(2) .inf-m-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 28px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 23px;
  margin-left: 5.6%;
  letter-spacing:0.05em;
}

.list-m li:nth-child(2) .inf-m-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 13px;
  padding-left:6%;
  padding-right:6%;
  letter-spacing:0.05em;
}

 .list-m li:nth-child(2) .counter {
  display:flex;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 700;
  height:70px;
  width:70px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 0.6%;
  margin-top: -86px;
  padding-top: 21px;
  padding-left: 27px;
  box-sizing: border-box;
  }
  
 .list-m li:nth-child(2) .counter:before {
  border: 2px solid #fff;
  position: absolute;
  content: "";
  width: 12px;
  margin-top: 22px;
  border-radius: 1px;
  }
  
.list-m li:nth-child(3) {
  background-color:#fff;
  width: 100%;
  min-width:320px;
  box-sizing: border-box;
}

.list-m li:nth-child(3) .pic-m{
  width:100%;
  min-height:351px;
}

.list-m li:nth-child(3) .pic {
  width:100%;
}

.list-m li:nth-child(3) .inf-m {
  width:100%;
  min-width:320px;
  padding-bottom: 67px;
  }
  
.list-m li:nth-child(3) .inf-m-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 28px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 22px;
  margin-left: 6.4%;
  letter-spacing:0.05em;
}

.list-m li:nth-child(3) .inf-m-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 14px;
  padding-left:6.2%;
  padding-right:6%;
  letter-spacing:0.05em;
}

  .list-m li:nth-child(3) .counter {
  display:flex;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: 700;
  height:70px;
  width:70px;
  color:#fff;
  background-color: #5e42b0;
  margin-top: -84px;
  padding-top: 21px;
  padding-left: 27px;
  box-sizing: border-box;
  }
  
  .list-m li:nth-child(3) .counter:before {
  border: 2px solid #fff;
  position: absolute;
  content: "";
  width: 12px;
  margin-top: 22px;
  border-radius: 1px;
  }
  
.s-footer {
  width:100%;
  min-width:320px;
  padding-top:30.9%;
  padding-bottom:2.7%;
  background-image: linear-gradient(to right, rgba(22, 16, 52, 0.9), rgba(22, 16, 52, 0.9)), url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
  box-sizing:border-box;
  background-position: right;
  background-size: cover;
}

.logo-i-f {
  display:block;
  width:50px;
  height:52px;
  background-color:#6e4ecb;
  border:11px solid #6e4ecb;
  border-radius:16px;
  margin-left:auto;
  margin-right:auto;
  }

.f-download {
  margin-left:auto;
  margin-right:auto;
  width:320px;
  }
  
  .f-title {
  width: 320px;
  margin-top: 14.7%;
  }
  
.f-title h2:first-child {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-size: 32px;
  font-weight:700;
  text-align: center;
  text-transform:uppercase;
  letter-spacing:0.05em;
}

.f-title h2:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  color:#9b8ec1;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform:uppercase;
  letter-spacing:0.05em;
  padding-left: 23px;
}

.buttons-f {
  margin-left:auto;
  margin-right:auto;
  width:280px;
  }  
  
.d-f-appstore {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 7px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:26%;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzAg%0D%0AMTcwIj4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUwLjM3IDEzMC4yNWMtMi40NSA1LjY2%0D%0ALTUuMzUgMTAuODctOC43MSAxNS42Ni00LjU4IDYuNTMtOC4zMyAxMS4wNS0xMS4yMiAxMy41Ni00%0D%0ALjQ4IDQuMTItOS4yOCA2LjIzLTE0LjQyIDYuMzUtMy42OSAwLTguMTQtMS4wNS0xMy4zMi0zLjE4%0D%0ALTUuMTk3LTIuMTItOS45NzMtMy4xNy0xNC4zNC0zLjE3LTQuNTggMC05LjQ5MiAxLjA1LTE0Ljc0%0D%0ANiAzLjE3LTUuMjYyIDIuMTMtOS41IDMuMjQtMTIuNzQyIDMuMzUtNC45My4yMS05Ljg0Mi0xLjk2%0D%0ALTE0Ljc0Ni02LjUyLTMuMTMtMi43My03LjA0NS03LjQxLTExLjczNS0xNC4wNC01LjAzLTcuMDgt%0D%0AOS4xNjgtMTUuMjktMTIuNDEtMjQuNjUtMy40Ny0xMC4xMS01LjIxLTE5LjktNS4yMS0yOS4zNzgg%0D%0AMC0xMC44NTcgMi4zNDYtMjAuMjIgNy4wNDUtMjguMDY4QzI3LjUwOCA1Ny4wMyAzMi40MiA1Mi4w%0D%0ANiAzOC41NyA0OC40MXMxMi43OTMtNS41MSAxOS45NDgtNS42M2MzLjkxNSAwIDkuMDUgMS4yMSAx%0D%0ANS40MyAzLjU5IDYuMzYgMi4zOSAxMC40NDYgMy42IDEyLjIzNyAzLjYgMS4zNCAwIDUuODc3LTEu%0D%0ANDE2IDEzLjU3LTQuMjQgNy4yNzUtMi42MTcgMTMuNDE1LTMuNyAxOC40NDUtMy4yNzQgMTMuNjMg%0D%0AMS4xIDIzLjg3IDYuNDczIDMwLjY4IDE2LjE1My0xMi4xOSA3LjM4NS0xOC4yMiAxNy43My0xOC4x%0D%0AIDMxIC4xMSAxMC4zMzggMy44NiAxOC45NCAxMS4yMyAyNS43NyAzLjM0IDMuMTcgNy4wNyA1LjYy%0D%0AIDExLjIyIDcuMzYtLjkgMi42MS0xLjg1IDUuMTEtMi44NiA3LjUxek0xMTkuMTEgNy4yNGMwIDgu%0D%0AMTAyLTIuOTYgMTUuNjY3LTguODYgMjIuNjctNy4xMiA4LjMyMy0xNS43MzIgMTMuMTMzLTI1LjA3%0D%0AIDEyLjM3NC0uMTItLjk3Mi0uMTktMS45OTUtLjE5LTMuMDcgMC03Ljc3OCAzLjM4Ny0xNi4xMDIg%0D%0AOS40LTIyLjkwOCAzLjAwMi0zLjQ0NiA2LjgyLTYuMzEgMTEuNDUtOC41OTcgNC42Mi0yLjI1MyA4%0D%0ALjk5LTMuNDk4IDEzLjEtMy43MS4xMiAxLjA4Mi4xNyAyLjE2NS4xNyAzLjI0eiIvPgo8L3N2Zz4K");
  background-repeat:no-repeat;
  background-position:32%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

.d-f-google {
  display:block;
  height:35px;
  width:280px;
  background-color:#5e42b0;
  border-radius:20px;
  text-decoration:none;
  padding-left:111px;
  padding-top: 6px;
  box-sizing:border-box;
  text-transform:uppercase;
  margin-top:5.4%;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDUu%0D%0ANDk5IDUwNS40OTkiPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik00NzEuNDk3IDIzNC40NjZs%0D%0ALTkyLjA4Mi01My4xMzUtNzUuNzMzIDczLjIwOCA2OS4yMTUgNjYuOTA3IDk4LjYtNTYuOTFjNS40%0D%0AMy0zLjEzMyA4LjY3Ny04Ljc1NiA4LjY3Ny0xNS4wMyAwLTYuMjc1LTMuMjQ1LTExLjg5OC04LjY3%0D%0ANy0xNS4wNHpNMzYzLjc4NSAxNzIuM2wtMTAxLjMzMi01OC40OTdMNDAuMzc1IDBsMjUwLjgyOCAy%0D%0ANDIuNDdNNDQuMDYzIDUwNS41bDIxOC43Ny0xMjAuNTEyIDk0LjQzNS01NC41MTUtNjYuMDY1LTYz%0D%0ALjg3TTI1LjU2IDkuODE1bC0uMjM2IDQ4OS42N0wyNzguNzIgMjU0LjUzNCIvPgo8L3N2Zz4=");
  background-repeat:no-repeat;
  background-position:31.6%;
  background-size:25px;
  letter-spacing: 0.05em;
  line-height:1.4em;
 }

.logo-f {
  display:block;
  height:36px;
  width:133px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26%;
  }
  
}

