
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet');

.maket {
  position:absolute;
  top:0;
  opacity: 0;  
}

* 
{
  padding:0px;
  margin:0px;
  overflow-x:hidden;
}

body,html {
  box-sizing:border-box;
  position: relative;
}

@media only screen and (min-width:641px) and (max-width:960px) {
  
.s-header {
  width:100%;
  background-image: linear-gradient(to right, rgba(22, 16, 52, 0.9), rgba(22, 16, 52, 0.9)), url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg");
  background-position:center;
  background-size:cover;
  padding-top:2.6%;
  padding-bottom:12%;
  box-sizing:border-box;
 }

.logo {
  display:block;
  height:56px;
  width:205px;
  margin-left:auto;
  margin-right:auto;
  margin-top:2.5%;
  }

.tagline {
  color:#ffffff;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size:64px;
  font-weight: 700;
  margin-top:20.7%;
  padding-left:11%;
  letter-spacing:0.05em;
}

.string {
  display:block;
  color:#ffffff;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: left;
  margin-top:-0.8%;
  padding-left:16%;
  letter-spacing:0.05em;
  line-height: 1.25em;
  }

.buttons {
  display:flex;
  justify-content:center;
  margin-top:38.5%;
  margin-left:auto;
  margin-right:auto;
}

.d-appstore {
  width: 311px;
  height: 77px;
  background-color:#5e42b0;
  border-radius:50px;
  text-decoration:none;
  padding-left:105px;
  padding-top: 23px;
  box-sizing:border-box;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-right:4%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzAg%0D%0AMTcwIj4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUwLjM3IDEzMC4yNWMtMi40NSA1LjY2%0D%0ALTUuMzUgMTAuODctOC43MSAxNS42Ni00LjU4IDYuNTMtOC4zMyAxMS4wNS0xMS4yMiAxMy41Ni00%0D%0ALjQ4IDQuMTItOS4yOCA2LjIzLTE0LjQyIDYuMzUtMy42OSAwLTguMTQtMS4wNS0xMy4zMi0zLjE4%0D%0ALTUuMTk3LTIuMTItOS45NzMtMy4xNy0xNC4zNC0zLjE3LTQuNTggMC05LjQ5MiAxLjA1LTE0Ljc0%0D%0ANiAzLjE3LTUuMjYyIDIuMTMtOS41IDMuMjQtMTIuNzQyIDMuMzUtNC45My4yMS05Ljg0Mi0xLjk2%0D%0ALTE0Ljc0Ni02LjUyLTMuMTMtMi43My03LjA0NS03LjQxLTExLjczNS0xNC4wNC01LjAzLTcuMDgt%0D%0AOS4xNjgtMTUuMjktMTIuNDEtMjQuNjUtMy40Ny0xMC4xMS01LjIxLTE5LjktNS4yMS0yOS4zNzgg%0D%0AMC0xMC44NTcgMi4zNDYtMjAuMjIgNy4wNDUtMjguMDY4QzI3LjUwOCA1Ny4wMyAzMi40MiA1Mi4w%0D%0ANiAzOC41NyA0OC40MXMxMi43OTMtNS41MSAxOS45NDgtNS42M2MzLjkxNSAwIDkuMDUgMS4yMSAx%0D%0ANS40MyAzLjU5IDYuMzYgMi4zOSAxMC40NDYgMy42IDEyLjIzNyAzLjYgMS4zNCAwIDUuODc3LTEu%0D%0ANDE2IDEzLjU3LTQuMjQgNy4yNzUtMi42MTcgMTMuNDE1LTMuNyAxOC40NDUtMy4yNzQgMTMuNjMg%0D%0AMS4xIDIzLjg3IDYuNDczIDMwLjY4IDE2LjE1My0xMi4xOSA3LjM4NS0xOC4yMiAxNy43My0xOC4x%0D%0AIDMxIC4xMSAxMC4zMzggMy44NiAxOC45NCAxMS4yMyAyNS43NyAzLjM0IDMuMTcgNy4wNyA1LjYy%0D%0AIDExLjIyIDcuMzYtLjkgMi42MS0xLjg1IDUuMTEtMi44NiA3LjUxek0xMTkuMTEgNy4yNGMwIDgu%0D%0AMTAyLTIuOTYgMTUuNjY3LTguODYgMjIuNjctNy4xMiA4LjMyMy0xNS43MzIgMTMuMTMzLTI1LjA3%0D%0AIDEyLjM3NC0uMTItLjk3Mi0uMTktMS45OTUtLjE5LTMuMDcgMC03Ljc3OCAzLjM4Ny0xNi4xMDIg%0D%0AOS40LTIyLjkwOCAzLjAwMi0zLjQ0NiA2LjgyLTYuMzEgMTEuNDUtOC41OTcgNC42Mi0yLjI1MyA4%0D%0ALjk5LTMuNDk4IDEzLjEtMy43MS4xMiAxLjA4Mi4xNyAyLjE2NS4xNyAzLjI0eiIvPgo8L3N2Zz4K");
  background-repeat:no-repeat;
  background-position:15%,50%;
  background-size:45px;
  letter-spacing: 0.03em;
  line-height:1.2em;
 }

 .App {
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
.d-google {
  width: 311px;
  height: 77px;
  background-color:#5e42b0;
  border-radius:50px;
  text-decoration:none;
  padding-left:125px;
  padding-top: 23px;
  box-sizing:border-box;
  color:white;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDUu%0D%0ANDk5IDUwNS40OTkiPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik00NzEuNDk3IDIzNC40NjZs%0D%0ALTkyLjA4Mi01My4xMzUtNzUuNzMzIDczLjIwOCA2OS4yMTUgNjYuOTA3IDk4LjYtNTYuOTFjNS40%0D%0AMy0zLjEzMyA4LjY3Ny04Ljc1NiA4LjY3Ny0xNS4wMyAwLTYuMjc1LTMuMjQ1LTExLjg5OC04LjY3%0D%0ANy0xNS4wNHpNMzYzLjc4NSAxNzIuM2wtMTAxLjMzMi01OC40OTdMNDAuMzc1IDBsMjUwLjgyOCAy%0D%0ANDIuNDdNNDQuMDYzIDUwNS41bDIxOC43Ny0xMjAuNTEyIDk0LjQzNS01NC41MTUtNjYuMDY1LTYz%0D%0ALjg3TTI1LjU2IDkuODE1bC0uMjM2IDQ4OS42N0wyNzguNzIgMjU0LjUzNCIvPgo8L3N2Zz4=");
  background-repeat:no-repeat;
  background-position:21%,50%;
  background-size:45px;
  letter-spacing: 0.03em;
  line-height:1.2em;
 }

.chapter-at {
  width:100%;
  oveflow-x:hidden;
  }

.title-chapter-at {
  min-width:768px;
  font-family: 'Open Sans', sans-serif;
  color:#e7e7e7;
  font-size: 80px;
  font-weight: 700;
  line-height: 66.078px;
  text-transform:uppercase;
  padding-top: 78px;
  padding-left:38%;
  box-sizing:border-box;
  background-color:#fff;
  padding-bottom: 35px;
}

.pic-chapter-at {
  position:absolute;
  margin-top:-86px;
  right: 56.3%;
  oveflow:hidden;
}

.list-at li:first-child {
  background-color:#fafafa;
  width: 100%;
  padding-top: 18px;
  box-sizing: border-box;
  padding-bottom: 31px;
}

.list-at li:first-child .at-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 32px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -32px;
  margin-left: 38%;
  padding-left:30px;
  letter-spacing:0.05em;
}

.list-at li:first-child:before{
  content: "01";
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  font-size:18px;
  font-weight: 700;
  height:26px;
  vertical-align:super;
  color:#000;
  margin-left: 38%;
 }

.list-at li:first-child .at-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left:38%;
  margin-top:2.3%;
  margin-right: 4%;
  text-align: left;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.list-at li:nth-child(2) {
  background-color:#f5f4f9;
  width: 100%;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 33px;
}

.list-at li:nth-child(2) .at-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 32px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -33px;
  margin-left: 38%;
  padding-left: 30px;
  letter-spacing:0.05em;
}

.list-at li:nth-child(2):before{
  content: "02";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  font-size:18px;
  font-weight: 700;
  height:26px;
  vertical-align:super;
  color:#000;
  margin-left: 38%;
 }

.list-at li:nth-child(2) .at-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left:38%;
  margin-top:2%;
  margin-right:4%;
  text-align: left;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.list-at li:nth-child(3) {
  background-color:#5e42b0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 33px;
}

.list-at li:nth-child(3) .at-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 32px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -33px;
  margin-left:38%;
  padding-left:30px;
  letter-spacing:0.05em;
}

.list-at li:nth-child(3):before{
  content: "03";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #efefef;
  border-radius: 2px;
  font-size:18px;
  font-weight: 700;
  height:26px;
  vertical-align:super;
  color:#000;
  margin-left: 38%;
 }

.list-at li:nth-child(3) .at-p {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left:38%;
  margin-top:2%;
  margin-right:4%;
  text-align: left;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.chapter-pl {
  width: 100%;
  box-sizing: border-box;
  oveflow-x:hidden;
  }

.title-chapter-pl {
  min-height:180px;
  background-color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  color:#e7e7e7;
  font-size: 80px;
  font-weight: 700;
  line-height: 66.078px;
  text-transform:uppercase;
  padding-top: 78px;
  padding-left:3.5%;
  box-sizing:border-box;
}

.pic-chapter-pl {
  position:absolute;
  left:43.1%;
  margin-top:-145px;
  height: 565px;
  oveflow:hidden;
}

.list-pl li:first-child {
  background-color:#fff;
  width: 100%;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 33px;
}

.list-pl li:first-child .pl-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 32px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -33px;
  margin-left: 4.1%;
  padding-left:31px;
  letter-spacing:0.05em;
}

.list-pl li:first-child:before{
  content: "01";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  font-size:18px;
  font-weight: 700;
  height:26px;
  vertical-align:super;
  color:#000;
  margin-left: 4.1%;
}

.list-pl li:first-child .pl-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left:4.1%;
  margin-right:45%;
  margin-top:2.1%;
  text-align: left;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.list-pl li:nth-child(2) {
  background-color:#f5f4f9;
  width: 100%;
  box-sizing: border-box;
  padding-top: 37px;
  padding-bottom: 33px;
}

.list-pl li:nth-child(2) .pl-h {
  font-family: 'Open Sans', sans-serif;
  color:#c1c1c1;
  font-size: 32px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -34px;
  margin-left: 4.1%;
  padding-left:31px;
  letter-spacing:0.05em;
}

.list-pl li:nth-child(2):before{
  content: "02";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #5e42b0;
  border-radius: 2px;
  font-size:18px;
  font-weight: 700;
  height:26px;
  vertical-align:super;
  color:#000;
  margin-left: 4.1%;
}

.list-pl li:nth-child(2) .pl-p {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left:4.1%;
  margin-top: 2.1%;
  margin-right:43%;
  text-align: left;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.list-pl li:nth-child(3) {
  background-color:#090c35;
  width: 100%;
  box-sizing: border-box;
  padding-top: 37px;
  padding-bottom: 33px;
}

.list-pl li:nth-child(3) .pl-h {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: -35px;
  margin-left: 4.2%;
  padding-left:31px;
  letter-spacing:0.05em;
}

.list-pl li:nth-child(3):before{
  content: "03";
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  border-bottom: 4px solid #fff;
  border-radius: 2px;
  font-size:18px;
  font-weight: 700;
  height:26px;
  vertical-align:super;
  color:#9173e6;
  margin-left: 4.2%;
}

.list-pl li:nth-child(3) .pl-p {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-left:4.1%;
  margin-top:2.2%;
  margin-right:40%;
  text-align: left;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.list-m li:first-child {
  background-color:#fff;
  width: 100%;
  box-sizing:border-box;
  padding-bottom: 12.8%;
}

.list-m li:first-child .pic-m {
  width:100%;
  box-sizing:border-box;
}

.list-m li:first-child .pic {
  width:100%;
}

 .list-m li:first-child .inf-m{
    width:100%;
  }
  
.list-m li:first-child .inf-m-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 80px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 57px;
  margin-left: 3.2%;
}

.list-m li:first-child .inf-m-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding-top:1.5%;
  padding-left:4%;
  padding-right:6%;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.list-m li:first-child .counter {
  display:flex;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:24px;
  font-weight: 700;
  height:116px;
  width:116px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 1.1%;
  margin-top: -142px;
  padding-top: 35px;
  padding-left: 45px;
  box-sizing: border-box;
  }
  
.list-m li:first-child .counter:before {
  border: 3px solid #fff;
  position: absolute;
  content: "";
  width: 20px;
  margin-top: 35px;
  border-radius: 2px;
  }
  
.list-m li:nth-child(2) {
  background-color:#fff;
  width: 100%;
  box-sizing:border-box;
  padding-bottom: 13.8%;
}

.list-m li:nth-child(2) .pic-m {
  width:100%;
  box-sizing:border-box;
}

.list-m li:nth-child(2) .pic {
  width:100%;
}

.list-m li:nth-child(2) .inf-m-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 80px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 48px;
  margin-left: 3.4%;
}

.list-m li:nth-child(2) .inf-m-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top:1.6%;
  margin-left:4.2%;
  margin-right:6%;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

 .list-m li:nth-child(2) .counter {
  display:flex;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:24px;
  font-weight: 700;
  height:116px;
  width:116px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 0.9%;
  margin-top: -142px;
  padding-top: 33px;
  padding-left: 45px;
  box-sizing: border-box;
  }
  
.list-m li:nth-child(2) .counter:before {
  border: 3px solid #fff;
  position: absolute;
  content: "";
  width: 20px;
  margin-top: 35px;
  border-radius: 2px;
  }
  
.list-m li:nth-child(3) {
  background-color:#fff;
  width: 100%;
  box-sizing:border-box;
  padding-bottom: 14.6%;
}

.list-m li:nth-child(3) .pic-m{
  width:100%;
  box-sizing:border-box;
}

.list-m li:nth-child(3) .pic {
  width:100%;
}

.list-m li:nth-child(3) .inf-m-h {
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
  font-size: 80px;
  font-weight: 700;
  text-transform:uppercase;
  margin-top: 49px;
  margin-left: 4.2%;
}

.list-m li:nth-child(3) .inf-m-p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top:1.2%;
  margin-left:4.3%;
  margin-right:6%;
  letter-spacing:0.05em;
  word-spacing:0.01em;
}

.list-m li:nth-child(3) .counter {
  display:flex;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:24px;
  font-weight: 700;
  height:116px;
  width:116px;
  color:#fff;
  background-color: #5e42b0;
  margin-left: 0.1%;
  margin-top: -143px;
  padding-top: 33px;
  padding-left: 45px;
  box-sizing: border-box;
  }
  
.list-m li:nth-child(3) .counter:before {
  border: 3px solid #fff;
  position: absolute;
  content: "";
  width: 20px;
  margin-top: 35px;
  border-radius: 2px;
  }
  
.s-footer {
  width: 100%;
  padding-top:7.9%;
  padding-bottom: 2.6%;
  background-image:linear-gradient(to right, rgba(22, 16, 52, 0.9), rgba(22, 16, 52, 0.9)), url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_1280.jpg");
  background-size: cover;
  background-color:#161034;
  box-sizing:border-box;
}

.logo-i-f {
  display: block;
  width: 94px;
  height: 94px;
  background-color: #6f4ecb;
  border-left: 18px solid #6f4ecb;
  border-right: 18px solid #6f4ecb;
  border-top: 22px solid #6f4ecb;
  border-bottom: 22px solid #6f4ecb;
  border-radius: 28px;
  margin-left: 41.5%;
  margin-top: 8.6%;
}

.f-title h2:first-child {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10%;
  line-height: 66.6px;
  letter-spacing:0.055em;
}

.f-title h2:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  color:#a496ca;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  text-transform:uppercase;
  margin-top: 2%;
}

.buttons-f {
  display:flex;
  justify-content:center;
  margin-top:35.9%;
  margin-left:auto;
  margin-right:auto;
}

.d-f-appstore {
  width: 311px;
  height: 77px;
  background-color:#5e42b0;
  border-radius:50px;
  text-decoration:none;
  padding-left:105px;
  padding-top: 24px;
  box-sizing:border-box;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-right:4%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzAg%0D%0AMTcwIj4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUwLjM3IDEzMC4yNWMtMi40NSA1LjY2%0D%0ALTUuMzUgMTAuODctOC43MSAxNS42Ni00LjU4IDYuNTMtOC4zMyAxMS4wNS0xMS4yMiAxMy41Ni00%0D%0ALjQ4IDQuMTItOS4yOCA2LjIzLTE0LjQyIDYuMzUtMy42OSAwLTguMTQtMS4wNS0xMy4zMi0zLjE4%0D%0ALTUuMTk3LTIuMTItOS45NzMtMy4xNy0xNC4zNC0zLjE3LTQuNTggMC05LjQ5MiAxLjA1LTE0Ljc0%0D%0ANiAzLjE3LTUuMjYyIDIuMTMtOS41IDMuMjQtMTIuNzQyIDMuMzUtNC45My4yMS05Ljg0Mi0xLjk2%0D%0ALTE0Ljc0Ni02LjUyLTMuMTMtMi43My03LjA0NS03LjQxLTExLjczNS0xNC4wNC01LjAzLTcuMDgt%0D%0AOS4xNjgtMTUuMjktMTIuNDEtMjQuNjUtMy40Ny0xMC4xMS01LjIxLTE5LjktNS4yMS0yOS4zNzgg%0D%0AMC0xMC44NTcgMi4zNDYtMjAuMjIgNy4wNDUtMjguMDY4QzI3LjUwOCA1Ny4wMyAzMi40MiA1Mi4w%0D%0ANiAzOC41NyA0OC40MXMxMi43OTMtNS41MSAxOS45NDgtNS42M2MzLjkxNSAwIDkuMDUgMS4yMSAx%0D%0ANS40MyAzLjU5IDYuMzYgMi4zOSAxMC40NDYgMy42IDEyLjIzNyAzLjYgMS4zNCAwIDUuODc3LTEu%0D%0ANDE2IDEzLjU3LTQuMjQgNy4yNzUtMi42MTcgMTMuNDE1LTMuNyAxOC40NDUtMy4yNzQgMTMuNjMg%0D%0AMS4xIDIzLjg3IDYuNDczIDMwLjY4IDE2LjE1My0xMi4xOSA3LjM4NS0xOC4yMiAxNy43My0xOC4x%0D%0AIDMxIC4xMSAxMC4zMzggMy44NiAxOC45NCAxMS4yMyAyNS43NyAzLjM0IDMuMTcgNy4wNyA1LjYy%0D%0AIDExLjIyIDcuMzYtLjkgMi42MS0xLjg1IDUuMTEtMi44NiA3LjUxek0xMTkuMTEgNy4yNGMwIDgu%0D%0AMTAyLTIuOTYgMTUuNjY3LTguODYgMjIuNjctNy4xMiA4LjMyMy0xNS43MzIgMTMuMTMzLTI1LjA3%0D%0AIDEyLjM3NC0uMTItLjk3Mi0uMTktMS45OTUtLjE5LTMuMDcgMC03Ljc3OCAzLjM4Ny0xNi4xMDIg%0D%0AOS40LTIyLjkwOCAzLjAwMi0zLjQ0NiA2LjgyLTYuMzEgMTEuNDUtOC41OTcgNC42Mi0yLjI1MyA4%0D%0ALjk5LTMuNDk4IDEzLjEtMy43MS4xMiAxLjA4Mi4xNyAyLjE2NS4xNyAzLjI0eiIvPgo8L3N2Zz4K");
  background-repeat:no-repeat;
  background-position:14%,50%;
  background-size:45px;
  letter-spacing: 0.03em;
  line-height:1.2em;
 }

.d-f-google {
  width: 311px;
  height: 77px;
  background-color:#5e42b0;
  border-radius:50px;
  text-decoration:none;
  padding-left:125px;
  padding-top: 24px;
  box-sizing:border-box;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDUu%0D%0ANDk5IDUwNS40OTkiPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik00NzEuNDk3IDIzNC40NjZs%0D%0ALTkyLjA4Mi01My4xMzUtNzUuNzMzIDczLjIwOCA2OS4yMTUgNjYuOTA3IDk4LjYtNTYuOTFjNS40%0D%0AMy0zLjEzMyA4LjY3Ny04Ljc1NiA4LjY3Ny0xNS4wMyAwLTYuMjc1LTMuMjQ1LTExLjg5OC04LjY3%0D%0ANy0xNS4wNHpNMzYzLjc4NSAxNzIuM2wtMTAxLjMzMi01OC40OTdMNDAuMzc1IDBsMjUwLjgyOCAy%0D%0ANDIuNDdNNDQuMDYzIDUwNS41bDIxOC43Ny0xMjAuNTEyIDk0LjQzNS01NC41MTUtNjYuMDY1LTYz%0D%0ALjg3TTI1LjU2IDkuODE1bC0uMjM2IDQ4OS42N0wyNzguNzIgMjU0LjUzNCIvPgo8L3N2Zz4=");
  background-repeat:no-repeat;
  background-position:20%,50%;
  background-size:45px;
  letter-spacing: 0.03em;
  line-height:1.2em;
 }

.logo-f {
  display:block;
  height:56px;
  width:205px;
  margin-left:auto;
  margin-right:auto;
  margin-top:7.5%;
  }
}

